/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(0, 11%, 78%);
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: hsla(0, 9%, 17%, 0.91);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    box-shadow: 5px 5px;
}

.display {
    margin-bottom: 20px;
}

.display-input {
    width: 100%;
    height: 90px;
    font-size: 2em;
    border: none;
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #8bb3ad;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #f9f9f9;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 5px black;
}

.btn:hover {
    background-color: #d9d9d9;
}

.operator {
    background-color: #657f78;
    color: white;
    
}

.operator:hover {
    background-color: #aa9779;
}

.equal {
    background-color: #4d7dbf;
    color: white;
    grid-column: span 1;
}

.equal:hover {
    background-color: #415986;
}

.clear {
    background-color: #f49a33;
    color: white;
    grid-column: span 1;
}

.clear:hover {
    background-color: #855151;
}
